@import url('https://fonts.googleapis.com/css?family=Anton');

.logo2 {
    width: 100%;
    height: 150px;
    background-color: black;
    padding-top: 30px;
    text-align: center;
    font-style: italic;
    color: azure;
}
.grid-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 20% 50% 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo info info"
                         "logo . basket"
                         ". nav-bar basket"
}
.basket {
    grid-area: basket;
    background-color: white;
    justify-self: end;
    padding-top: 30px;
    padding-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0F6DB3;
    font-size: 0.8em;

}

.logo {
    grid-area: logo;
    width: 150px;
    background-color: brown;
}

.nav-bar {
    grid-area: nav-bar;
    width: 100%;
    height: 50px;
}

.info {
    grid-area: info;
    padding-right: 30px;
    padding-top: 20px;
    text-align: end;
}
.info-item {
    padding-right: 30px;
    font-family: 'Anton', sans-serif;
    font-size: 0.9em;
    text-align: end;
    color: #0F6DB3;
}

.button-basket {
    border: 0px;
    height: 50px;
    width: 200px;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 2em;
    font-style: inherit;
    background-color: #0F6DB3;
}

.navbar-button a {
    float: left;
    display: block;
    color: #0F6DB3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar-button a:hover {
    background-color: #F1F1FD;
    color: #0F6DB3;
    text-decoration: none;
    border-bottom:solid #0F6DB3 3px;
  }

  .navbar-button a.active {
    background-color: #0F6DB3;
    color: white;
    border-bottom:solid #0F6DB3 3px;
  }